{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <h1>WIP</h1>
        <br>
        {{ dump(sao.debug.user) }}
        <br>
        {{ dump() }}
    </div>
{% endblock %}