<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Acerca de SAO</h5>
                <p class="grey-text text-lighten-4">
                    Silabo académico online, es un proyecto para el almacenamiento y creación de sílabos de manera online, creado teniendo en cuenta las tecnologías actuales para construir una base para futuros proyectos similares.
                </p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Development</h5>
                <ul>
                    <li><a class="white-text" rel="noreferrer" target="_blank" href="https://hendell.pw:8000/UML/SAO">Gitlab Repo</a></li>
                    <li><a class="white-text" target="_blank" href="/docs/api/">Documentación API</a></li>
                    <li><a class="white-text" target="_blank" href="/docs/metrics/">PHP Metrics</a></li>
                    <li><a class="white-text" target="_blank" href="/docs/coverage/">PHPUnit Coverage</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container right-align">
            <i class="material-icons">cake</i> en: {{ sao.debug.executiontime|raw }}ms
        </div>
    </div>
</footer>