<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="./img/blurshapes/img3.jpg">
            </div>
            <a href="#user"><img class="circle" src="./img/Shape.png"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Control Silabos</a></li>
    <li class="white">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect waves-blue">
                    <i class="material-icons">folder_special</i>Silabos <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                    <ul>
                        <li><a class="waves-effect waves-blue" href="./agregar_silabo"><i class="material-icons">post_add</i>Agregar silabo</a></li>
                        <li><a class="waves-effect waves-blue" href="#"><i class="material-icons">people</i>Silabo por docente</a></li>
                        <li><div class="divider"></div></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <!--
    <li class="sidenav-footer">
        <div class="row">  
            <div class="social-icons">
                <div class="col s2">
                    <a href="#"><i class="fa fa-lg fa-linkedin-square"></a></i>
                </div>
                <div class="col s2">
                    <a href="#"><i class="fa fa-lg fa-facebook-official"></a></i>
                </div>
                <div class="col s2">
                    <a href="#"><i class="fa fa-lg fa-twitter"></a></i>
                </div>
                <div class="col s2">
                    <a href="#"><i class="fa fa-lg fa-google-plus"></a></i>
                </div>
                <div class="col s2">
                    <a href="#"><i class="fa fa-lg fa-pinterest"></a></i>
                </div>
                <div class="col s2">
                    <a href="#"><i class="fa fa-lg fa-youtube"></a></i>
                </div>
            </div>
        </div>
    </li>
    -->
</ul>